/* FULL PAGE CENTER */
.contact {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 20px;
  
}


.contacthead {
  text-align: center;
}

.contacthead h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #e16308;
}

.contacthead p {
  font-size: 18px;
  color: #b64c0a;
  line-height: 1.5;
}



.contactform {
  width: 100%;
  color: #f35602;
  max-width: 450px;
  background: rgba(210, 69, 8, 0.05);
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 4px 18px rgba(234, 79, 7, 0.15);
  display: flex;
  flex-direction: column;
  gap: 12px;
  backdrop-filter: blur(5px);
}

.contactform label {
  font-size: 16px;
  font-weight: 600;
  
}

.contactform input,
.contactform textarea {
  width: 100%;
  color: #bd5205;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ef7850;
  outline: none;
  font-size: 15px;
  transition: 0.2s;
}

.contactform input:focus,
.contactform textarea:focus {
  border-color: #ff7b00;
  box-shadow: 0 0 5px rgba(255,123,0,0.5);
}

.contactform textarea {
  resize: none;
  height: 120px;
}


.contactbtn button {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  border: none;
  background: #ec6206;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.contactbtn button:hover {
  background: #e86e00;
}



.contactdown {
  width: 100%;
  max-width: 900px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.contactdown div {
  flex: 1;
  background: wheat;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  text-align: center;
}

.contactdown h1 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #f0660a;
}

.contactdown p {
  font-size: 16px;
  color: #b44a04;
  line-height: 1.6;
}



@media (max-width: 768px) {
  .contactdown {
    flex-direction: column;
    gap: 15px;
  }

  .contacthead h1 {
    font-size: 32px;
  }
}
