.container {
     grid-template-columns: repeat(4,1fr);
    gap: 10px;
    display: grid;
    text-align: center;
}

.topbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

.inputaea {
    width: 250px;
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid rgb(228, 139, 21);
    border-radius: 6px;
    color: rgb(168, 73, 5);
}

.cart-count {
    font-weight: bold;
    font-size: 20px;
    color: rgb(155, 68, 5);
    text-decoration: none;
}

.menuhead {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    color: rgb(219, 110, 32);
    margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    color: rgb(219, 110, 32);
    margin-bottom: 20px;
}

.item {
    color: rgb(155, 68, 5);
}

.price {
    color: rgb(155, 68, 5);
}
.foodimg{
    width: 250px;
    height: 250px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center bottom;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}