.banner {
    width: 100%;
    height: 90vh;
    background-image: url('../assets/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 80px;
    border-radius: 30px;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 10px;
    margin-right: 20%;
}

.head1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: rgb(192, 87, 27);
    font-size: 70px;
    margin-bottom: 15px;
}

.para {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: lighter;
    color: rgb(226, 121, 41);
    margin-top: 5px;
}

.button {
    padding: 8px 16px;
   
    cursor: pointer;
    border: none;
    background-color: rgb(219, 110, 32);
    color: white;
    border-radius: 8px;
    font-size: 16px;
    transition:  0.3s ease;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.button:hover {
    background-color: beige;
    color: rgb(234, 106, 15);
}

@media screen and (max-width: 1024px) {
    .banner {
        padding-right: 8%;
        height: 80vh;
    }
    .banner-content{
        margin-right: 10%;
        gap: 8px;
    }

     .head1 {
        font-size: 50px;
    }

     .para {
        font-size: 30px;
    }

}

@media screen and (max-width: 600px) {
    .banner {
        justify-content: right;
          padding-right: 250px;
        height: 70vh;
        border-radius: 20px;
    }

    .banner-content {
        align-items: right;
        text-align: right;
        gap: 8px;
    }
 .head1 {
        font-size: 50px;
    }

     .para {
        font-size: 30px;
    }

     .button {
        font-size: 16px;
        padding: 8px 16px;
        margin-top: -10px;
    }
}