.heading{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: rgb(219, 110, 32);
   
}

.categorycont{
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    display: grid;
    text-align: center;

}
.categorycont >div{
    text-align: center;
    cursor: pointer;
    transition: transfrom 0.3 ease;
}
.categorycont > div:hover{
    transform: scale(1.05);
}
@media screen and (max-width: 767px) {
  .categorycont {
    grid-template-columns: repeat(2, 1fr);
  }
  .categorycont >div{
    text-align: center;
    cursor: pointer;
    transition: transfrom 0.3 ease;
}
.categorycont > div:hover{
    transform: scale(1.05);
}
.heading{
    margin-left: 3px;
}


.foodimg{
    width: 100%;        /* scales with parent div */
    max-width: 150px;  /* optional max size */
    height: auto;      /* maintain aspect ratio */
    border-radius: 10px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.foodname{
color: rgb(176, 80, 11);;
}
}