.heading{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: rgb(219, 110, 32) ;
    text-align: center;
}
.cardcontainer{
     grid-template-columns: repeat(3,1fr);
    gap: 10px;
    display: grid;
    text-align: center;
    margin-left: 10%;
}
@media screen and (max-width: 1024px) {
  .cardcontainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
.images{
    width: 200px;
    height: 200px;
    border-radius: 15px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    cursor: pointer;
   padding-top: 15%;
}

.h1{
    font-size: 28px;
    padding-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(155, 68, 5) ;
}
.cardtext{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 20px;
margin-top: -2px;
color: rgb(155, 68, 5) ;
}

.button{
    margin-top: -20px;
}