.fheading{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: rgb(219, 110, 32) ;
    text-align: center;
}
.cardcontainer{
     grid-template-columns: repeat(3,1fr);
    gap: 8px;
    display: grid;
    text-align: center;
    
}
@media screen and (max-width: 767px) {
  .cardcontainer {
    grid-template-columns: repeat(1, 1fr);
   
    padding: 10px 40px;
    
  }
}
.fheading{
    
    margin-left: 5px;
}
.images{
    width: 300px;
    height: 300px;
    border-radius: 15px;
    object-fit: cover;
    
    display: block;
    margin: 0 auto;
    cursor: pointer;
   
}
.cardbody{
    margin-right: 20px;
}

.h1{
    font-size: 28px;
    padding-top: 5%;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(155, 68, 5) ;
}
.cardtext{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 18px;
margin-top: -2px;
color: rgb(155, 68, 5) ;
}

.button{
    margin-top: -20px;
   
}
