/* RESET ONLY NAVBAR, NOT GLOBAL */
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 38px;
  background-color: wheat;
  position: sticky;
  top: 0;
  z-index: 999;
  border-bottom: 2px solid #e2c49f;
}

/* LOGO */
.logo {
  font-size: 28px;
  font-weight: 700;
  color: rgb(219, 110, 32);
  
}

/* NAV LINKS */
.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: rgb(219, 110, 32);
  transition: 0.3s ease;
}

.nav-links a:hover {
  color: #ff6600;
}

/* TOGGLE BUTTON */
.toggle-btn {
  background-color: rgb(219, 110, 32);
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: 0.3s ease;
  margin-right: 15px;
}

.toggle-btn:hover {
  background-color: #1b1a19;
}

/* DARK MODE : affects only navbar */
body.dark-mode {
  background-color: #121212;
  color: white;
}

body.dark-mode .navbar {
  background-color: #1c1c1c;
}

body.dark-mode .nav-links a {
  color: rgb(219, 110, 32);
}

body.dark-mode .toggle-btn {
  background-color: rgb(219, 110, 32);
}

/* RESPONSIVE */
@media (max-width: 767px) {
  .navbar {
    padding: 15px 125px;
  }

  .nav-links {
    gap: 15px;
    margin-left: 15px;
  }

  .logo {
    margin-right: 30px; 
    font-size: 24px;
  }
  .toggle-btn{
    margin-right:30px ;
  }
}


