.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  gap: 10px;
  transition: 0.3s ease;
  background-color: white; 
   position: sticky;
  top: 0;
  background: white;
  z-index: 999;
}
.head {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: rgb(219, 110, 32);
}
.Nav-link {
  display: flex;
  gap: 20px;
 
}
.Nav-link a {
  text-decoration: none; 
  font-family: inherit;
  font-size: 18px;
  font-weight: bolder;
  color: rgb(219, 110, 32); 
  transition: 0.3s ease;
}
.Nav-link a:hover {
  color: #ff6600; 
}
.btn button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  background-color: rgb(219, 110, 32);
  color: white;
  border-radius: 8px;
  font-size: 16px;
  transition: 0.3s ease;
}

body.dark-mode {
  background-color: #121212;
  color: white;
  transition: 0.3s ease;
}

body.dark-mode .container {
  background-color: #1c1c1c;
}

body.dark-mode .head {
  color: rgb(219, 110, 32);
}
body.dark-mode .Nav-link a {
  color: rgb(219, 110, 32);
}
body.dark-mode .Nav-link a:hover {
  color: #ff6600;
}
body.dark-mode .btn button {
  background-color: rgb(219, 110, 32);
  color: white;
}
body.dark-mode .btn button:hover {
  background-color: #1b1a19;
}